.container {
    position: relative;
  }
  
  .inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .icon {
    position: absolute;
    left: 10px; 
    pointer-events: none; 
  }
  
  .input {
    width: 360px;
    padding-left: 30px; 
  }
  
  .label {
    display: block;
    margin-bottom: 8px;
  }
  